.body1{
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
  
   
   
}
.wrapper{
    width: 450px;
   
   margin-bottom: 10%;
   
    
    color: rgb(13, 7, 7);
    border-radius: 20px;
    background-color: rgba(197, 195, 111, 0.5);
    padding: 20px 40px;
    box-sizing: border-box;
    margin-Left: 0px;
}
.wrapper h1 {
    font-size: 36px;
   
    box-sizing: border-box;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    box-sizing: border-box;

    display: flex;
   
  

}
.input-box input {
    width: 100%;
    height: 100%;
    background-color:rgb(200, 191, 191);
    /* border: 2px solid rgba(255,255,255,.2); */
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;  
    box-sizing: border-box;
    
    display: flex;
   justify-content: center;
   align-items: center;
    
}
.input-box input::placeholder {
    color: rgb(10, 4, 6); 
    box-sizing: border-box;

    display: flex;
   justify-content: center;
   align-items: center;
    
}
.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;

    display: flex;
   justify-content: center;
   align-items: center;

}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember-forgot label input {
    accent-color: black;
    margin-right: 4px;
}
.remember-forgot a {
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline; 
}
.wrapper button {
    width: 100%;
    height: 45px;
    background: #79cd4f;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: #333;
    font-weight: 700;
}
.wrapper .register-link {
    font-size: 14.5px;
    text-align:center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}