nav {
   
   
    background-color: transparent;
    display: flex;
    height: 80px ;
    
    
}

.logo {
    flex: 2;
    
 
   
}

nav img {
    width:250px;
    height: 90px;
    padding-bottom: 140%;
    margin-left:23px;
   
    
}


nav ul {
    flex: 04;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 37%;
    display: flex;
    justify-content:left;
    color:rgb(13, 11, 11);
    cursor: pointer;
    font-family: fantasy;
}

nav ul li {
    font-size:medium;
    margin-top: 4%;
    margin-left: 50px;
    padding-right: 0px;
    font-family:fantasy;

}

nav a {
    
    
    text-decoration: none;
}

nav a:hover {
    background-color:rgb(117, 211, 85);
   
}
.select-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .selected-option {
    padding: 2px;
   margin-top: 0px;
    
    cursor: pointer;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
   
    border-top: none;
    background-color: #c2b2b2;
    z-index: 100;
  }
  
  .option {
    padding: 8px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #5bb34c;
  }
  
